name: Go Build and Lint

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-lint:
    name: Build and Lint
    runs-on: ubuntu-latest
    
    steps:


      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3

      - name: Build Binary
        run: make build
      
      - name: Testing
        run: make test
      
      - name: Check Go mod tidy
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
